<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpLoads de Arquivos</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>
    <div class="container">
        <h1>Uplood de Arquivos</h1>
        <div class=" mb-3" >
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="formFileMultiple" class="form-label">Multiple files input example
                    <input class="form-control" type="file" name="file" id="formFileMultiple" multiple></label>
                <button type="submit" class="btn btn-primary mt-1">Enviar</button>
            </form>
        </div>
    </div>

</body>

</html>